<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %> </h1>
    <table>
        <tr>
            <th>Airline:</th> 
            <td><%= flight.airline %></td>
        </tr>
        <tr>
            <th>Airport:</th> 
            <td><%= flight.airport %></td>
        </tr>
        <tr>
            <th>Flight Number:</th> 
            <td><%= flight.flightNo %></td>
        </tr>
        <tr>
            <th>Departure Date:</th> 
            <td><%= flight.departs %></td>
        </tr>
    </table>
    <div>
        <a href="/flights/<%= flight._id %>/edit">Make changes</a>
    </div>    
</main>

<%- include('../partials/footer') %>